<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: 'Caveat', cursive; font-size: 24px;">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Place the image within an Ion Card -->
  
    <!-- Adjust the size of the image with CSS -->
    <img src="assets/icon/book2.png" style="width: 30%; height: 40%;">
  

  <div style="font-family: 'Caveat', cursive; font-size: 30px;">
    <h1 style="font-size: 36px;">About ReadRadar</h1>
    <p>Welcome to ReadRadar, your personalized book recommendation platform! At ReadRadar, we understand the importance of finding the perfect book that resonates with your interests and preferences. Our mission is to simplify your reading journey by providing tailored book recommendations based on genre, ensuring you discover your next favorite read effortlessly.</p>
  </div>
</ion-content>
