<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-background">
  <ion-grid>
    <ion-row>
      <!-- First section for Action genre -->
      <ion-col size="6">
        <ion-card>
          <a href="/action">
            <ion-img src="assets/icon/action.png" class="genre-image"></ion-img>
            <ion-card-header>
              <ion-card-title>Action</ion-card-title>
            </ion-card-header>
          </a>
          <!-- Content related to Action genre -->
        </ion-card>
      </ion-col>
      
      <!-- Second section for Fantasy genre -->
      <ion-col size="6">
        <ion-card>
          <a href="/fantasy">
            <ion-img src="assets/icon/fantasy.png" class="genre-image"></ion-img>
            <ion-card-header>
              <ion-card-title>Fantasy</ion-card-title>
            </ion-card-header>
          </a>
          <!-- Content related to Fantasy genre -->
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- Third section for Romance genre -->
      <ion-col size="6">
        <ion-card>
          <a href="/romance">
            <ion-img src="assets/icon/romance.png" class="genre-image"></ion-img>
            <ion-card-header>
              <ion-card-title>Romance</ion-card-title>
            </ion-card-header>
          </a>
          <!-- Content related to Romance genre -->
        </ion-card>
      </ion-col>
      
      <!-- Fourth section for Science Fiction genre -->
      <ion-col size="6">
        <ion-card>
          <a href="/science">
            <ion-img src="assets/icon/science.png" class="genre-image"></ion-img>
            <ion-card-header>
              <ion-card-title>Science Fiction</ion-card-title>
            </ion-card-header>
          </a>
          <!-- Content related to Science Fiction genre -->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
