<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Add 'ion-text-center' class to center align the title -->
    <ion-title class="ion-text-center" style="color: white;">
      ReadRadar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- Add 'ion-text-center' class to center align the title -->
      <ion-title class="ion-text-center" size="large" style="color: white;">ReadRadar</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Place the image within an Ion Card -->
  <ion-card>
    <!-- Adjust the size of the image with CSS -->
    <img src="assets/icon/books1.png" style="width: auto; height: 70%;">
  </ion-card>

  <div id="container" style="text-align: center;">
    <!-- Apply font styles to the paragraph -->
    <p style="font-family: 'Caveat', cursive; font-size: 2rem; color: white;">
      “Reading is to the mind what exercise is to the body.” ― Joseph Addison
    </p>
  </div>

  <!-- Move the link to the middle and style it -->
  <div style="text-align: center; color: white; margin-top: 20px;">
    <ion-item>
      <ion-label>
        <a href="/about-us">About Us</a>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
