/* Set background color to dark green */
ion-content {
  --background: #006400; /* Dark green color */
}

/* Set color of toolbar to white */
ion-toolbar {
  --background: #ffffff; /* White color */
  --color: #000000; /* Black color for toolbar text */
}
