<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Add 'ion-text-center' class to center align the title -->
    <ion-title class="ion-text-center">
      ReadRadar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- Add 'ion-text-center' class to center align the title -->
      <ion-title class="ion-text-center" size="large">ReadRadar</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Display the image across the screen -->
  <img src="assets/books1.png">

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
